body, html
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Stereonic-M', 'Hagin', Verdana, Tahoma, Arial, Sans-Serif;
}


#player-artist-link-stream
{
    font-size: 36px;
    color: #FFF;

    text-align: left;
    position: absolute;
    left: 80px;
    top: 530px;
    width: 1760px;

    white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;

    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55), 0px 1px 3px rgba(0, 0, 0, 1);
}

#player-title
{
    font-size: 54px;
    color: #FFF;

    text-align: left;
    position: absolute;
    left: 80px;
    top: 569px;    
    width: 1760px;

    white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;

    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55), 0px 1px 3px rgba(0, 0, 0, 1);
}

#player-city
{
    font-size: 36px;
    color: #FFF;

    text-align: left;
    position: absolute;
    left: 80px;
    top: 621px;
    width: 1760px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55), 0px 1px 3px rgba(0, 0, 0, 1);

    opacity: 0.7;
}


#effect {
	position: fixed;
	width: 1280px;
	height: 720px;
	z-index: 5;
	opacity: 0.7;
	background: url(effect.jpg) no-repeat;
	mix-blend-mode: multiply;
}