.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.rangeslider {
  background: #e5e5e5;
  position: relative;
  margin-left: 10px;
}

.rangeslider--horizontal {
  height: 3px;
  width: 200px;
  cursor: pointer;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #eef1dc;
  position: absolute;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.rangeslider__fill.night {
  background: #ececec;
}

.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;

  background-size: 100%;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


.rangeslider--horizontal .rangeslider__handle {
  top: -7px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.range-input {
    padding-top: 10px;
    margin-left: 25px;
    cursor: pointer;
    width: 200px !important;
    height: auto !important;
}