body, html
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Stereonic-M', 'Hagin', Verdana, Tahoma, Arial, Sans-Serif;
	overflow: hidden;
	color: #ffffff;
	font-size: 16pt;
}

a
{
	color: #eef1dc;
	outline: none;
}

a.night
{
	color: #ececec;
}

#grid
{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(50, 1fr);
	grid-column-gap: 0px;
    grid-row-gap: 0px;
    /*background: url('sprites/grid.png') round;*/
}

main
{	
	color: #eef1dc;
}


main.night
{
	color: #ececec;
}

#bright{
	z-index: 5;
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
	background-color: rgba(255, 222, 128, 0.1);
}

/* PLAYER (center) */

#player-wrapper
{
	grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 20;
}

#player
{
	height: 100%;
	display: grid;
    grid-template-rows: repeat(13, 1fr);
	grid-gap: 0px;  

	opacity: 0.85;

	align-items: center;
	justify-items: center;
}

.player-track
{
	font-size: 32pt;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.player-track.night
{
	text-shadow: 0px 1px 4px rgba(255, 255, 255, 200);
	-webkit-text-shadow: 0px 1px 4px rgba(255, 255, 255, 200);
}

#player-title
{
	grid-row: 1 / 3;
}

#player-switch
{
	grid-row: 5 / 8;
	font-size: 22pt;
	cursor: pointer;
}

#player-artist
{
	grid-row: 10 / 12;
}

#player-city
{
	grid-row: 13 / 14;
	font-size: 22pt;
	opacity: 0.5;
}

.player-switch-stalled
{
	background-size: 40px 40px !important;
	background: url('sprites/play.png') no-repeat center;
	background-position: center!important;
}

.player-switch-playing
{
	background-size: 40px 40px !important;
	background: url('sprites/paused.png') no-repeat center;
}

/* NAVI (bottom) */

#navi
{
	position: fixed;
	height: 91px;
	bottom: 0px;
	left: 0px;
	width: 100%;

    z-index: 20;
    background: rgba(255,255,255,0.5);

	font-size: 22pt;
	color: #ffffff;
	
	display: grid;
    grid-template-columns: repeat(11, 1fr);
	grid-gap: 0;

    align-items: center;
    justify-items: center;

	background: rgba(0,0,0,0.61);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0.32) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.61)), color-stop(20%, rgba(0,0,0,0.32)), color-stop(100%, rgba(0,0,0,0.32)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0.32) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0.32) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0.32) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0.32) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

	opacity: 0.7;

	transition: All 0.5s ease;
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
}

#navi:hover
{
	opacity: 1;
}

#navi-links
{
	grid-column: 1 / 3;
}

#navi-air
{
	grid-column: 3 / 5;
}

#navi-logo {
	grid-column: 5 / 8;
}

#player-volume {
	grid-column: 8 / 11;
}

#listeners
{
	grid-column: 11 / 12;
}

/* LINKS (left) */

#panel
{
	grid-column: 1 / 5;
    grid-row: 1 / -1;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    box-shadow: 0 0 8px rgba(255, 222, 128, 1);
}

#panel-top-gradient
{
	grid-column: 1 / 5;
    grid-row: 5 / 6;

    z-index: 15;

	background: -moz-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.61)), color-stop(20%, rgba(0,0,0,0.32)), color-stop(100%, rgba(0,0,0,0.32)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

#panel-bottom-gradient
{
	grid-column: 1 / 5;
    grid-row: 45 / 46;

    z-index: 15;

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.61)), color-stop(80%, rgba(0,0,0,0.61)), color-stop(100%, rgba(0,0,0,0.61)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0.61) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.links-button
{
	opacity: 0.8;
}

.links-button:hover
{
	opacity: 1.0;
}

.links-icon
{
	margin-right: 10px;
	vertical-align: middle;
}

#links
{
	margin-left: 20%;
	margin-right: 10%;
	height: 100%;
    display: grid;
    grid-template-columns: : 1fr;
	grid-template-rows: repeat(60, 1fr);
	grid-gap: 0px;
	justify-items: left;
}

#links-title
{
	margin-left: -10%;
	font-size: 22pt;
    grid-row: 1 / 7;
    justify-self: center;
    align-self: center;
    text-shadow: 0 0 4px rgba(255, 222, 128, 1);
}

#links-button-vk
{
	grid-row: 9 / 10;
}

#links-button-telegram
{
	grid-row: 13 / 14;
}

#links-button-chat
{
	grid-row: 17 / 18;
}

#links-button-soundcloud
{
	grid-row: 21 / 22;
}

#links-button-facebook
{
	grid-row: 25 / 26;
}

#links-button-back
{
	grid-row: 33 / 34;
}

#links-button-m3u
{
	grid-row: 37 / 38;
}

#links-text-m3u
{
	margin-left: 42px;
	opacity: 0.5;
	grid-row: 39 / 40;
}

#links-madeby
{
	grid-row: 47 / 48;
    justify-self: center;
    align-self: center;
    opacity: 0.5;
}

@media handheld, only screen and (max-width: 975px)
{
	#player
	{
		margin-top: 10px; 
		position: static;
		width: 100%;
		text-align: center;
	}

	.player-switch-stalled
	{
		background-size: 55px 55px!important;
		background: url('sprites/play.png') no-repeat center;
	}

	.player-switch-playing
	{
		background-size: 55px 55px!important;
		background: url('sprites/paused.png') no-repeat center;
	}

	#player-switch
	{
		width: 80px;
		height: 80px;
	}

	.player-track
	{
		font-size: 30pt;
		padding-bottom: 10px;
	}

	#player-artist
	{
		font-size: 20pt;
	}

	#player-controls
	{
		padding-top: 0px;
	}

	#player-volume
	{
		display: none;
	}

	.navi-text-pconly
	{
		display: none;
	}

	#navi-button-chat
	{
		display: none;
	}

	#navi-button-fb
	{
		display: none;
	}

	#navi-button-sc
	{
		display: none;
	}

	#navi-modes
	{
		display: none;
	}

	#navi-logo {
		width: 150px;
		position: absolute; 
		left: 100%;
		margin-left: -160px;
		
		opacity: 1;
	}

	#listeners
	{
		position: absolute;
		left: 10px;
		width: 50px;
	}

	#navi-left {
		left: 70px;
		width: 60%;
	}

	#footer-madeby
	{
		display: none;
	}	
}

@media handheld, (orientation: landscape) and (max-width: 1024px)
{
	#player
	{
		margin-top: 20px; /* fest tmp */
	}

	.player-track
	{
		font-size: 28pt;
	}

	#player-controls
	{
		padding-top: 0px;
	}
}

/* Special for АЙФОУН and АЙПЭЭЭЭД */
@media handheld, only screen and (max-width: 640px)
{
	#navi-button-m3u
	{
		display: none;
	}
}


.sv-fest
{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	color: #f5f5f5;
	background: rgba(20, 20, 20, 0.6);
	text-align: center;
}

.sv-fest a 
{
	color: #f5f5f5;
	font-size: 20pt;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}