/* Fonts: Hagin  */
@font-face {
  font-family: 'Hagin';
  src: url('../fonts/hagin/HaginCapsMedium.eot?#iefix') format('embedded-opentype'),  url('../fonts/hagin/HaginCapsMedium.otf')  format('opentype'),
	     url('../fonts/hagin/HaginCapsMedium.woff') format('woff'), url('../fonts/hagin/HaginCapsMedium.ttf')  format('truetype'), url('../fonts/hagin/HaginCapsMedium.svg#HaginCapsMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Fonts: Stereonic-M */
@font-face {
  font-family: 'Stereonic-M';
  src: url('../fonts/stereonic/Stereonic-M.eot?#iefix') format('embedded-opentype'),  url('../fonts/stereonic/Stereonic-M.otf')  format('opentype'),
	     url('../fonts/stereonic/Stereonic-M.woff') format('woff'), url('../fonts/stereonic/Stereonic-M.ttf')  format('truetype'), url('../fonts/stereonic/Stereonic-M.svg#Stereonic-M') format('svg');
  font-weight: normal;
  font-style: normal;
}