/* NAVI (bottom) */

#navi
{
    position: fixed;
    display: flex;
	height: 70px;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0;

    z-index: 20;

	font-size: 22pt;
	letter-spacing: 2pt;
	color: #ffffff;
	
    align-items: center;
    justify-items: center;

	background: rgba(0,0,0,0.61);
	/*background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(20%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ); */

	transition: All 0.4s ease;
	-webkit-transition: All 0.4s ease;
	-moz-transition: All 0.4s ease;
	-o-transition: All 0.4s ease;

	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.navi-block {
	height: 100%;
	text-align: center;
	line-height: 70px;
}

#side {
	display: flex;
	flex: 1 0 35%;
}

#central {
	flex: 1 0 10%;
}

/* LINKS */
#navi-links {
	position: relative;
	width: 50%;
	height: 100%;
	cursor: pointer;
	opacity: 0.8;
	text-transform: uppercase;
	text-align: inherit;
}

#navi-links: hover {
	opacity: 1;
}


/* AIR */
#navi-air
{
	position: relative;
	width: 50%;
	text-align: center;
	cursor: pointer;
    opacity: 0.8;
	text-transform: uppercase;
}

#navi-air:hover
{
	opacity: 1;
}

/* LOGO */
#navi-logo {
	text-align: center;
    opacity: 0.8;
}

#navi-logo:hover {
	opacity: 1;
}

#navi-logo img {
	padding-top: 5px;
	height: 60px;
    cursor: pointer;
}

/* VOLUME */
#volume-container
{
	width: 50%;
	opacity: 0.8;
	margin: 0 25px;
}

#volume-container:hover
{
	opacity: 1;
}

/* SPEAKER */
#volume-speaker
{
	position: relative;
	bottom: 35%;
}


/* VOLUME RANGE */
#volume-range
{
	position: relative;
	text-align: center;
	width: 80%;
	height: 100%;
	margin: 0;
}

#not-volume-container
{
	width: 50%;
}

/* BACKGROUNG SWITCHER */
#switch-back
{
	width: 40%;
	text-align: center;
	display: inline-block;
	position: relative;
	opacity: 0.8;
}

#switch-back:hover
{
	opacity: 1;
}

#switch-back-button
{
	width: auto;
}

/* LISTENERS*/
#listeners-container
{
	display: inline-block;
	position: relative;
	text-align: center;
	font-size: 22pt;
	opacity: 0.8;
	width: 40%;
}
