.panel
{
    display: none;
	position: absolute;
    z-index: 10;
	bottom: 0px;
	top: 0;
	left: -450px;
	text-align: left;
    width: 450px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.panel-title {
    position: relative;
    height: 150px;
    text-align: center;
    color:  rgba(255, 222, 128, 0.8);
    background: linear-gradient(360deg, rgba(225,222,128,0.15) 0%, rgba(9,9,121,0) 74%, rgba(0,212,255,0) 50%);
    /* box-shadow: 0 0 120px 0 rgba(255, 222, 128, 0.5); */
}

.panel-content {
    position: absolute;
    padding: 25px 25px 0 25px;
    height: -moz-calc(100% - 245px);
    height: -webkit-calc(100% - 245px);
    height: -o-calc(100% - 245px);
    height: calc(100% - 245px);
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

/* LINKS */
#links-title {
    line-height: 150px;
    font-size: xxx-large;
}

#links-content {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    padding-left: 75px;
    padding-right: 75px;
}

.links-icon {
   margin-right: 20px;
   vertical-align: middle;
   opacity: 0.7;
}

/* AIR */
#air-title {
    font-size: xx-large;
    text-align: center;
}

#air-title-mode {
    padding-top: 25px;
}

#air-times {
    padding-bottom: 15px;
}

#air-tags {
    font-size: x-large;
    color: rgba(255, 222, 128, 0.6);
}

#air-content {
    height: -moz-calc(100% - 255px);
    height: -webkit-calc(100% - 255px);
    height: -o-calc(100% - 255px);
    height: calc(100% - 255px);

    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: -o-calc(100% - 50px);
    width: calc(100% - 50px);

    padding-top: 35px;
    overflow-y: hidden;
}

#air-content:hover, #air-content:active,  #air-content:focus {
    overflow-y: auto;
} 

.air-playlist-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.air-time {
    min-width: 75px;
    color: rgba(255, 222, 128, 0.7);
}

.air-song {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

/* BRIGHT OVERLAY */
#bright-overlay {
    display: none;
    position: fixed;
    background: rgb(255, 222, 128);
    opacity: 0;
    top: 0;
    right: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    height: -moz-calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
    height: -o-calc(100% - 70px);
    height: calc(100% - 70px);

    width: 100%;
}