input[type=range] {
    width: 100%;
    margin: 10px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #ffffff;
    border: 0;
    width: 100%;
    height: 2px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -10px;
    width: 22px;
    height: 22px;
    background: #ffffff;
    border: 0;
    border-radius: 11px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    background: #ffffff;
    border: 0;
    width: 100%;
    height: 2px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 22px;
    height: 22px;
    background: #ffffff;
    border: 0;
    border-radius: 11px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 11px 0;
    color: transparent;
    width: 100%;
    height: 2px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #808080;
    border: 0;
  }
  input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0;
  }
  input[type=range]::-ms-thumb {
    width: 22px;
    height: 22px;
    background: #ffffff;
    border: 0;
    border-radius: 11px;
    cursor: pointer;
    margin-top: 0px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }
  @supports (-ms-ime-align:auto) {
    input[type=range] {
      margin: 0;
    }
  }
  