body, html
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Stereonic-M', 'Hagin', Verdana, Tahoma, Arial, Sans-Serif;
	overflow: hidden;
	color: #ffffff;
	font-size: 16pt;
}

a
{
	color: #ffffff;
	outline: none;
	opacity: 0.8;
	transition: All 0.2s ease;
}

a:hover{
	opacity: 1;
	filter: drop-shadow(0px 0px 3px rgba(255, 222, 128, 0.7));
	-webkit-filter: drop-shadow(0px 0px 3px rgba(255, 222, 128, 0.7));	
}

a.night
{
	color: #ececec;
}

#cover-image
{
	position: fixed;

	top: -30px;
	left: -30px;
	right: -30px;
	bottom: -30px;
	background-size: cover;
	background-position: center;

	z-index: 0;
	pointer-events: none;
}

/* PLAYER (center) */

#player-wrapper
{
    z-index: 10;
}

#player
{
	margin-top: 70px;

    position: relative;
    text-align: center;

	align-items: center;
	justify-items: center;

	text-shadow: 0px 1px 7px rgba(255, 255, 255, 0.55);
	-webkit-text-shadow: 0px 1px 7px rgba(255, 255, 255, 0.55);
}

.player-track
{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
	-webkit-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

#player-artist
{
    font-size: 36pt;
    margin-bottom: 6pt;
    
}

#player-artist a {
	
}

#player-artist span {
	box-shadow: inset 0 -3px 0 rgba(238, 241,  220, 0.5);
	-webkit-box-shadow: inset 0 -3px 0 rgba(238, 241,  220, 0.5);
	-webkit-box-decoration-break: clone;
	-ms-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
}

#player-title
{
    font-size: 36pt;
    opacity: 0.8;
}

#player-switch
{
	font-size: 22pt;
    cursor: pointer;
	width: 150px;
	height: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    margin-bottom: 6pt;
    transition: All 0.2s ease;
}

#player-switch:hover
{
	opacity: 1;
	transform: scale(115%, 115%);
	filter: drop-shadow(0px 0px 3px rgba(255, 222, 128, 0.7));
	-webkit-filter: drop-shadow(0px 0px 3px rgba(255, 222, 128, 0.7));	
}

#player-city
{
	font-size: 22pt;
	opacity: 0.8;
}

.player-switch-stalled
{
	background-size: 50px 50px !important;
	background: url('../sprites/play.png') no-repeat center;
	background-position: center!important;
}

.player-switch-playing
{
	background-size: 50px 50px !important;
	background: url('../sprites/paused.png') no-repeat center;
}

/* LINKS (left) */

#panel, #air-panel
{
    background: rgba(0,0,0,0.64);
    z-index: 10;

	display: none;
	position: absolute;
	bottom: 0px;
	top: 0;
	left: -150px;
	text-align: left;
	width: 450px;
	border: none;
	opacity: 0;
}

.link {
	display: block;
	margin: 15px;
}

.links-button
{
	opacity: 0.8;
	align-items: center;
	
}

.links-button:hover
{
	opacity: 1;
}

.links-icon
{
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
	opacity: 0.5;
}

.links-icon img
{
	width: 25px;
}

#links
{	
	font-size: 16pt;

	width: 100%;
	height:100%;
	top:0;

	justify-content: center;
	line-height: 32pt;
}

#links-back
{
	position: absolute;

	width: 100%;
	height: 100%;
	top: 150px;
	bottom: 70px;

	z-index: 20;
	opacity: 0.0;
	background-color: #000;
}

#links-container
{	
	z-index: 30;
	width: 320px;

	height: 100%;
	margin: 82pt auto;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

#links-center-back {
	position: absolute;
	top: 150px;
	bottom: 70px;
	z-index: -1;

	width: 100%;

	opacity: 1;
	background-color: rgba(0,0,0,0.4);
}

#links-madeby img {
	width: 120px;
}

#links-volna2-icon img {
	width: 50px;
}

#links-title
{
    text-shadow: 0 0 4px rgba(255, 222, 128, 1);
	font-size: 22pt;
	margin-top: 42pt;

	text-align: center;
}

#links-button-fest-icon 
{
	width:128px;
	height: auto;
}

#links-m3u-container {
	line-height: 21pt;
	position: absolute;
	bottom: 100pt;
}

#links-text-m3u
{
	margin-left: 67px;
	opacity: 0.5;
	width: 400px;
}

#links-madeby
{
	align-self: start;
	justify-self: center;
    opacity: 0.2;
}

#links-madeby:hover {
	opacity: 0.5;
}

#air-list {
	position: static;
	height: 100%;
	justify-items: left;
	font-size: 16pt;

	line-height: 24pt;
	
}

#air-title-section
{
    text-shadow: 0 0 2px rgba(255, 222, 128, 0.5);
	width: 100%;
	margin: 0;
	position: relative;
	font-size: 16pt;
	line-height: 24pt;
	margin-top: 24pt;
	height: 80pt;
}

#air-title {
	text-shadow: 0 0 4px rgba(255, 222, 128, 1);
	text-align: center;
	font-size: 24pt;
	margin-bottom: 4pt;
}

#air-tags {
	text-align: center;
	opacity: 0.5;
}

#air-times {
	text-align: center;
	opacity: 0.5;
}

#air-start-time {
	opacity: 0.8;
    font-size: 16pt;
}

#air-end-time {
	opacity: 0.8;
    font-size: 16pt;
}

.air-band{
	
}

.air-song-title{
	opacity: 0.8;
}

#air-playlist-container {
	position: absolute;
	top: 150px;
	bottom: 70px;
	
	width: 100%;

	opacity: 1;
	background-color: rgba(0,0,0,0.4);
}

#air-playlist {
    text-shadow: 0 0 2px rgba(255, 222, 128, 0.3);
    position: absolute;
	right: 10px;
	top : 0px;

	width:100%;
	height: 100%;
	border-spacing: 16pt;
	overflow-y: scroll;

}

#air-playlist::-webkit-scrollbar {
	width: 15px;
}
 
#air-playlist::-webkit-scrollbar-track {
}
 
#air-playlist::-webkit-scrollbar-thumb {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.5);
}

#air-playlist::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}
#air-playlist::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.3);
}


.air-playlist-item {
	display: table-row
}

.air-time {
	display: table-cell;
    padding-left: 10px;
    opacity: 0.5;

    -ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.air-song {
	display: table-cell;
}

#bright-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #FFDE80;
	opacity: 0;
	z-index: 5;
	display: none;
	cursor: pointer;
}

#frame-overlay {
	position: fixed;

	bottom: 70px;
	left: 0;
	right: 0;
	top:0;
	background-size: cover;
	background-image: url('../sprites/frame2.png');
	background-size: 100% 100%;

	z-index: 10;
	pointer-events: none;
}

#panel-title-gradient
{
	width: 100%;
	height: 20px;
	position: absolute;
	top: 130px;
    z-index: 15;
    opacity: 0.4;

	background: -moz-linear-gradient(top, rgba(255,222,128,0) 0%, rgba(255,222,128,0.32) 80%, rgba(255,222,128,0.61) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,222,128,0)), color-stop(80%, rgba(255,222,128,0.32)), color-stop(100%, rgba(255,222,128,0.61)));
	background: -webkit-linear-gradient(top, rgba(255,222,128,0) 0%, rgba(255,222,128,0.32) 80%, rgba(255,222,128,0.61) 100%);
	background: -o-linear-gradient(top, rgba(255,222,128,0) 0%, rgba(255,222,128,0.32) 80%, rgba(255,222,128,0.61) 100%);
	background: -ms-linear-gradient(top, rgba(255,222,128,0) 0%, rgba(255,222,128,0.32) 80%, rgba(255,222,128,0.61) 100%);
	background: linear-gradient(to bottom, rgba(255,222,128,0) 0%, rgba(255,222,128,0.32) 80%, rgba(255,222,128,0.61) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDE80', endColorstr='#FFDE80', GradientType=0 );
}


#panel-top-gradient
{
	width: 100%;
	height: 20px;
	position: absolute;
	top: 150px;
    z-index: 15;

	background: -moz-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.61)), color-stop(20%, rgba(0,0,0,0.32)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.61) 0%, rgba(0,0,0,0.32) 20%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDE80', endColorstr='#FFDE80', GradientType=0 );
}

#panel-bottom-gradient {
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 70px;
    z-index: 150;

    pointer-events: none;
    

	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(80%, rgba(0,0,0,0.32)), color-stop(100%, rgba(0,0,0,0.61)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.32) 80%, rgba(0,0,0,0.61) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDE80', endColorstr='#FFDE80', GradientType=0 );
}

#panel-left-gradient {
	width: 10px;
	height: 100%;
	position: absolute;
	left: 100%;
    z-index: 15;
    opacity: 0.5;   
    
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#panel-left-gradient.night {
    opacity: 0.2;
}



/* S ВЁРСТКА - Прортретная для телефонов */
@media handheld, only screen and (max-width: 1100px){
	#player-artist, #player-title {
		font-size: 22pt;
	}

	#player-city {
		font-size: 22pt;
	}

	#panel, #air-panel {
		position: fixed;
		width: 100%;
	}

	#links-title, #air-title {
		margin-top: 18px;
	}

	#links-container {	
		margin: 30px auto;
	}

	#air-title-section {	
		margin: 0px auto;
	}


	#links-center-back, #air-playlist-container {
		top: 70px;
		bottom: 70px;
	}

	#bright-overlay, #frame-overlay, #air-times, #air-tags {
		display: none;
	}

	#panel-title-gradient {
		top: 50px;
	}

	#panel-top-gradient {
		top: 70px;
	}
}