body, html
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #ffffff;
	font-family: 'Stereonic-M', 'Hagin', Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 16pt;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(122, 122, 122, 0.616);
}

a {
	color: #ffffff;
	outline: none;
	opacity: 0.8;
}

a:hover{
	opacity: 1;
}

#player-wrapper
{
    z-index: 10;
}

#player
{
	margin-top: 70px;

    position: relative;
    text-align: center;

	align-items: center;
	justify-items: center;

	text-shadow: 0px 1px 7px rgba(255, 255, 255, 0.55);
	-webkit-text-shadow: 0px 1px 7px rgba(255, 255, 255, 0.55);
}

.player-track
{
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
	-webkit-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

#player-artist
{
    font-size: 36pt;
    margin-bottom: 6pt;
}

#player-artist a {
	text-decoration: none;
}

#player-artist span {
	box-shadow: inset 0 -3px 0 rgba(238, 241,  220, 0.5);
	-webkit-box-shadow: inset 0 -3px 0 rgba(238, 241,  220, 0.5);
	-webkit-box-decoration-break: clone;
	-ms-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
	text-decoration: none !important;
}

#player-title
{
    font-size: 36pt;
    opacity: 0.8;

}

#player-switch
{
	font-size: 22pt;
    cursor: pointer;
	width: 150px;
	height: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    margin-bottom: 6pt;
}

#player-switch:hover
{
	opacity: 1;
}

#player-city
{
	font-size: 22pt;
	opacity: 0.8;
}

.player-switch-stalled
{
	background-size: 50px 50px !important;
	background: url('../sprites/play.png') no-repeat center;
	background-position: center!important;
}

.player-switch-playing
{
	background-size: 50px 50px !important;
	background: url('../sprites/paused.png') no-repeat center;
}

@media handheld, only screen and (max-width: 975px) {
	#player {
		margin-top: 30px; 
		position: static;
		width: 100%;
		text-align: center;
	}

	#player-switch
	{
		width: 80px;
		height: 80px;
	}

	.player-track
	{
		font-size: 30pt;
		padding-bottom: 10px;
	}

	#player-artist
	{
		font-size: 20pt;
	}
}	
